For verification click on the following link
<a href="<%= Rails.application.routes.default_url_options[:host] %>/user_registration/verify_confirmation_mail?confirmation_token=<%= @con_token %>">Click Here</a>to verify!